body, html {
	margin: 0;
	padding: 0;
	/* background: #151623; */
	background: #282a42;
	background: url('assets/navBack.jpg');
	background-size: cover;
	color: #fff;
	font-family: Avenir Next, Avenir, Myriad Pro, sans-serif;
	font-weight: 300;
	width: 100%;
	overflow-x: hidden;
}

a {
	color: inherit;
}

.navigation {
	width: 100vw;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px;
	/* box-shadow: inset 1px -10px 20px 0px rgba(0, 0, 0, 0.21); */
}

.page__container {
	/* width: calc(100vw - 230px);
	margin-left: 230px; */
	position: relative;
	width: 95%;
	margin: auto;
	background: #282a42;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.21);
}

.home__container {
	padding: 40px 80px;
	text-align: center;
	position: relative;
	width: 100%;
	box-sizing: border-box;
}

.home__movies {
	width: 100%;
	display: flex;
	position: relative;
	flex-wrap: wrap;
	justify-content: center;
}

.home__movie {
	position: relative;
	width: 240px;
	max-width: 240px;
	flex: 1 1 auto;
}

.home__movie img {
	width: 80%;
}

.movie__container {
	background-size: cover !important;
	background-attachment: fixed !important;
}

.movie__contents {
	padding: 40px 80px;
	min-height: 80vh;
	background: rgba(40, 42, 66, 0.93);
}

.movie__details {
	margin-top: 200px;
	padding-left: 40px;
	border-left: 1px solid #ffb401;
}

.movie__title h1{
	margin: 0;
	padding: 0;
	font-size: 4em;
}

.movie__title h1 i{
	font-size: 0.2em;
	font-weight: 400;
	opacity: 0.7;
	font-style: normal;
}

.movie__genre p{
	margin: 0;
	padding: 0;
}

.movie__genre {
	position: relative;
}

.movie__genre::before {
	content: '+';
	height: 20px;
	width: 20px;
	background: #ffb401;
	position: absolute;
	text-align: center;
	left: -50px;
	color: #000;
	font-weight: 800;
}